@model IEnumerable<OrderViewModel>

@{
    ViewBag.Title = "Index";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <p>
        <a asp-action="Create">Create New</a>
    </p>
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>
                    Sipariş Numarası
                </th>
                <th>
                    Sipariş Tarihi
                </th>
                <th>
                    Müşteri Adı
                </th>
                <th>
                    Yetkili Çalışan
                </th>
                <th>
                    Siparişin Toplamı
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        <a asp-action="Details" asp-route-id="@item.OrderId">@Html.DisplayFor(modelItem => item.OrderId)</a>
                    </td>

                    <td>
                        @item.SiparisTarihi.Value.ToShortDateString()
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.MusteriAdi)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CalisanAdi)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TotalPrice)
                    </td>
                </tr>
            }
        </tbody>
    </table>
</body>
</html>
